//Fuente
@import url('https://fonts.googleapis.com/css?family=Raleway:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
//Colores
$fondo: #eaeaea;
$azul: #1698d5;
$negro:#303030;
$gris:#7f7f7f;
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    transition: all .1s;
}

body {
    background-color: #606060;
}

.pantalla {
    background-color: $fondo;
    margin: 0 35%;
    width: 540px + 13px +50px;
    height: 960px + 13px;
    .logo {
        width: 300px;
        height: 127px;
        margin: 0 20%;
        padding-top: 50%;
        img {
            height: 100%;
            width: 100%;
        }
    }
    form {
        margin-left: 20%;
        margin-top: 3%;
        input[type=text] {
            width: 300px;
            height: 40px;
            border: 2px solid $gris;
            padding: 0 8px;
            transition: all .2s;
        }
        input[type=password] {
            width: 300px;
            height: 40px;
            border: 2px solid $gris;
            padding: 0 8px;
            transition: all .2s;
        }
        input:focus {
            border: 2px solid $azul;
        }
        input::placeholder {
            font-weight: 300;
            font-style: italic;
            font-size: 17px;
        }
        #password {
            margin-top: 5%;
        }
        input[type=button] {
            background-color: $azul;
            color: $fondo;
            font-weight: 500;
            font-style: italic;
            font-size: 25px;
            border: 2px solid $azul;
            border-radius: 15px;
            transition: all 0.1s;
            width: 325px;
            height: 40px;
            cursor: pointer;
        }
        input[type=button]:hover {
            background-color: #137ea8;
            border: #137ea8;
            cursor: pointer;
        }
        .olvido {
            font-size: 12px;
            font-weight: 300;
            color: $gris;
            letter-spacing: 1.5px;
            padding-top: 6px;
            transition: all 0.1s;
        }
        .olvido:hover {
            font-weight: 400;
            color: $negro;
            cursor: pointer;
        }
        .fa-eye {
            color: $azul;
        }
        .ojo {
            width: 1px;
            height: 1px;
            padding: 0;
            margin: 0;
        }

        .a{
            input{

            }
        }
    }
    .logos {
        position: absolute;
        top: 800px;
        left: 850px;
        div {
            margin-left: 20px;
            margin-top: 35%;
        }
    }

    a{
        text-decoration: none;
    }
}

.flex-aloslados-padre {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.flex-aloslados-hijo {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}

.otro {
    justify-content: start;
}

//---------------------------------------------------->
.mensaje {
    font-weight: 400;
    margin: 0 13%;
    margin-top: 5%;
    text-align: center;
    color: $negro;
}

.pregunta {
    font-weight: 500;
    margin: 0 13%;
    margin-top: 5%;
    text-align: center;
    color: $negro;
}

.respuesta {
    justify-content: space-around;
    width: 300px;

   

    input[type=radio] {
        display: none;
    }
    input[type="radio"]+label:before {
        content: "\f10c";
        color: $azul;
    }
    input[type="radio"]:checked+label:before {
        content: "\f111";
        color: $azul;

    }
    label:before {
        font-family: 'FontAwesome';
        width: 1.25em;
        display: inline-block;
    }
}

.respuesta:nth-child(2) {
    margin-top: 2%;
    margin-bottom: 2%;
}

.progreso{
    display: inline-flex;
    justify-content: space-between;
    margin-left: 12%;
}

.regresar{
    font-size: 12px;
    font-weight: 300;
    color: $gris;
    letter-spacing: 1.5px;
    padding-top: 6px;
    transition: all 0.1s;
    padding-left: 27%;
}

.regresar:hover {
    font-weight: 400;
    color: $negro;
    cursor: pointer;
}