@import url("https://fonts.googleapis.com/css?family=Raleway:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  transition: all .1s;
}

body {
  background-color: #606060;
}

.pantalla {
  background-color: #eaeaea;
  margin: 0 35%;
  width: 603px;
  height: 973px;
}

.pantalla .logo {
  width: 300px;
  height: 127px;
  margin: 0 20%;
  padding-top: 50%;
}

.pantalla .logo img {
  height: 100%;
  width: 100%;
}

.pantalla form {
  margin-left: 20%;
  margin-top: 10%;
}

.pantalla form input[type=text] {
  width: 300px;
  height: 40px;
  border: 2px solid #7f7f7f;
  padding: 0 8px;
  transition: all .2s;
}

.pantalla form input[type=password] {
  width: 300px;
  height: 40px;
  border: 2px solid #7f7f7f;
  padding: 0 8px;
  transition: all .2s;
}

.pantalla form input:focus {
  border: 2px solid #1698d5;
}

.pantalla form input::placeholder {
  font-weight: 300;
  font-style: italic;
  font-size: 17px;
}

.pantalla form #password {
  margin-top: 5%;
}

.pantalla form input[type=button] {
  background-color: #1698d5;
  color: #eaeaea;
  font-weight: 500;
  font-style: italic;
  font-size: 25px;
  border: 2px solid #1698d5;
  border-radius: 15px;
  transition: all 0.1s;
  width: 325px;
  height: 40px;
  cursor: pointer;
}

.pantalla form input[type=button]:hover {
  background-color: #137ea8;
  border: #137ea8;
  cursor: pointer;
}

.pantalla form .olvido {
  font-size: 12px;
  font-weight: 300;
  color: #7f7f7f;
  letter-spacing: 1.5px;
  padding-top: 6px;
  transition: all 0.1s;
}

.pantalla form .olvido:hover {
  font-weight: 400;
  color: #303030;
  cursor: pointer;
}

.pantalla form .fa-eye {
  color: #1698d5;
}

.pantalla form .ojo {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
}

.pantalla .logos {
  position: absolute;
  top: 800px;
  left: 850px;
}

.pantalla .logos div {
  margin-left: 20px;
  margin-top: 35%;
}

.pantalla a {
  text-decoration: none;
}

.flex-aloslados-padre {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.flex-aloslados-hijo {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.otro {
  justify-content: start;
}

.mensaje {
  font-weight: 400;
  margin: 0 13%;
  margin-top: 5%;
  text-align: center;
  color: #303030;
}

.pregunta {
  font-weight: 500;
  margin: 0 13%;
  margin-top: 5%;
  text-align: center;
  color: #303030;
}

.respuesta {
  justify-content: space-around;
  width: 300px;
}

.respuesta input[type=radio] {
  display: none;
}

.respuesta input[type="radio"] + label:before {
  content: "\f10c";
  color: #1698d5;
}

.respuesta input[type="radio"]:checked + label:before {
  content: "\f111";
  color: #1698d5;
}

.respuesta label:before {
  font-family: 'FontAwesome';
  width: 1.25em;
  display: inline-block;
}

.respuesta:nth-child(2) {
  margin-top: 2%;
  margin-bottom: 2%;
}

.progreso {
  display: inline-flex;
  justify-content: space-between;
  margin-left: 12%;
}

.regresar {
  font-size: 12px;
  font-weight: 300;
  color: #7f7f7f;
  letter-spacing: 1.5px;
  padding-top: 6px;
  transition: all 0.1s;
  padding-left: 27%;
}

.regresar:hover {
  font-weight: 400;
  color: #303030;
  cursor: pointer;
}
/*# sourceMappingURL=estilos.css.map */